.closeButton {
    position: absolute;
    top: 20px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: currentColor;;
  }

  
@media only screen and (min-width: 768px){
  .icon {
    width: 24px;
    height: 24px;
  }

  .closeButton {
    top: 40px;
    right: 40px;
  }
}

@media only screen and (min-width: 1440px){
    .closeButton {
      top: 20px;
      right: 20px;
    }
  }