.wrapper {
  padding: 14px 20px;

  border-radius: 30px;
  opacity: 0px;
  max-height: 66px;
  max-width: 178px;
  border: none;
  cursor: pointer;
}

.add_water_btn {
  display: flex;
  align-items:center;
  background: none;
  gap: 10px;
}

.add_water_btn_disabled{
  display: flex;
  align-items:center;
  background: none;
  gap: 10px;
}

.text{
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-white);
  text-align: center;
  white-space: nowrap;
    transition: color var(--animation);
}
.wrapper:disabled .add_water_btn_disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
}

.wrapper:disabled:hover .text {
  color: var(--main-white);
}

.wrapper:disabled:hover .icon {
  stroke: var(--main-white);
}

.wrapper:hover .text  {
  color: var(--accent);
  transition: color var(--animation);
}

.wrapper:hover .icon {
  stroke: var(--accent);
  transition: stroke var(--animation);
}

.wrapper:focus .text {
  color: var(--accent);
  transition: color var(--animation);
}

.wrapper:focus .icon {
  color: var(--accent);
  transition: color var(--animation);
}


.icon {
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-radius: 50px;
  stroke: var(--main-white);
  transition: stroke var(--animation);
  box-sizing: unset;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 18px 30px;
    font-size: 16px;
    line-height: 1.5;
  }

}










