.trackContainerItem {
    border-radius: 30px;
    padding: 40px 20px;
    background-color: #f0eff4;
    width: 343px;
    height: 770px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .trackContainerItem {
        padding: 32px;
        width: 704px;
        height: 738px;
    }
}

@media only screen and (min-width: 1440px) {
    .trackContainerItem {
        padding: 32px;
        width: 672px;
        height: 736px;
    }
}