.homePageLogo {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;

  color: var(--main);
  text-decoration: none;
}

@media screen and (min-width:768px) {
  .homePageLogo {
    font-size: 24px;
    line-height: 1;
  }
}