.listCalendar {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 18px;
  }
  
  @media (min-width: 768px) {
    .listCalendar {
      gap: 15px 48px;
    }
  }
  
  @media (min-width: 1440px) {
    .listCalendar {
      gap: 15px 43px;
    }
  }