.settingsModalTitle {
  margin-bottom: 20px;
  color: rgb(50, 63, 71);
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.settingsModal {
  width: 343px;
  top: 80px;
  background-color: white;
  scrollbar-width: 6px;
  scrollbar-color: rgb(240, 239, 244) inherit;
}

.settingsModal::-webkit-scrollbar {
  width: 6px;
}

.settingsModal::-webkit-scrollbar-track {
  background-color: inherit;
}

.settingsModal::-webkit-scrollbar-thumb {
  background-color: rgb(240, 239, 244);
  border-radius: 30px;
}

.modalContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 7px 20px 20px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
/* 
  overflow: hidden; */
  overflow-y: scroll;
  max-height: 100vh;
}

.settingsModal {
  /* overflow-y: auto; */
  background-color: rgb(255, 255, 255);
  /* max-height: calc(100vh - 20px);  */
  width: 343px;
  /* max-height: 100vh; */
  max-height: 100%;
  padding-right: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .settingsModalTitle {
    font-size: 28px;
    line-height: 32px;
  }
  .settingsModal {
    width: 648px;
    top: 64px;
  }
  .settingsModal {
    width: 648px;
    scrollbar-width: 8px;
  }
  .modalContainer {
    padding: 0px 16px 0px 40px;
    top: 64px;
    max-height: calc(100vh - 64px);
  }
  .settingsModal {
    max-height: calc(100vh - 64px);
    padding-right: 16px;
  }
  .settingsModal::-webkit-scrollbar {
    width: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .settingsModal {
    width: 920px;
  }
}
