.settingsModalTitle {
  margin-bottom: 20px;
  color: rgb(50, 63, 71);
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
}

.settingsModal {
  width: 343px;
  height: auto;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .settingsModalTitle {
    font-size: 28px;
    line-height: 32px;
  }
  .settingsModal {
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .settingsModal {
    width: 920px;
  }
}
.settingsModal {
  max-height: 90vh;
  overflow-y: auto;
  max-height: 90vh;
  scrollbar-width: 8px;
  scrollbar-color: rgb(240, 239, 244) inherit;
}

.settingsModal::-webkit-scrollbar {
  width: 8px;
}

.settingsModal::-webkit-scrollbar-track {
  background-color: inherit;
}

.settingsModal::-webkit-scrollbar-thumb {
  background-color: rgb(240, 239, 244);
  border-radius: 30px;
}
