.container {
    position: relative;
    background-color: var(--accent);
    max-width: 100%;
    border-radius: 30px;
    padding-top: 50px;
    
    
}

.trackerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
 .trackerLogo {
            display: inline-block;
            position: absolute;
            top: 24px;
            left: 16px;
           
        }

        .btn {
    position: absolute;
    top: 337px;
    left: 187px;
    display: block;
    font-size: 14px;
    line-height: 1.29;
    padding: 14px 20px;
    font-weight: 700;
    border-radius: 30px;
 
    cursor: pointer;
        }

@media screen and (min-width: 375px) {
    .container{
width: 343px;
height: 415px;
    }
  .trackerImage {
width: 262px;

    }
    /* .logo {
top: 24px;
left: 16px;
    } */
}


@media screen and (min-width: 768px) {
    .container{
        display: inline-block;
        width: 704px;
        height: 578px;
        padding-top: 69px;
    }
        .trackerImage {
        width: 374px;
      
        
    }
    .trackerLogo {
top: 32px;
    left: 32px;
    }

                .btn {
                    top: 454px;
                    left: 494px;
                    /* font-style: 16px;
                    line-height: 1.5; */
                }
       
}


@media screen and (min-width: 1440px) {
    .container {
        width: 672px;
        height: 736px;
        padding-top: 92;
        
    }
        .trackerImage {
        width: 472px;
        
       
    }

    
}

