.userBarContainer {
    position: relative;
    margin-left: auto;
}

.userBar {
    border-radius: 30px;
    padding: 6px 12px;
    width: 157px;
    background: #323f47;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    color: #fff;
}

.nameBar {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: -0.01em;
    text-align: center;
    padding: 16px 10px 16px 12px;
}

.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.dropdownIcon {
    margin-left: auto;
    width: 16px;
    height: 16px;
    fill: transparent;

}