.superMainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mainBox {
    width: 343px;
    height: 353px;
    background-image: url("../../assets/images/drink-water-mobile.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
}

.list {
    padding: 0;
    margin: 0;
    align-self: flex-end;
    width: 168px;
    gap: 4px;
    display: flex;
    flex-wrap: wrap;
}

.firstItem {
    border-radius: 30px;
    padding: 9px 12px;
    width: 81px;
    background: var(--main);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstP {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main-white);
}

.secondItem {
    border-radius: 30px;
    padding: 9px 12px;
    width: 83px;
    background: var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
}

.threeItem {
    border-radius: 30px;
    padding: 9px 12px;
    width: 108px;
    background: var(--main-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 8px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
}

.divHappy {
    border-radius: 30px;
    padding: 10px 14px;
    width: 160px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background: var(--main-white);  
    display: flex;
    gap: 3.77px;
}
.pHappy {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
    color: var(--main);
}

.spanHappy {
    color: var(--accent);
}

.listHappy {
    margin: 0;
    padding: 0;
    display: flex;
}

.itemHappy {
    border: 2px solid var(--main-white);
    border-radius: 50px;
    width: 26px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: -8.5px;
    position: relative;
}

.itemHappy:nth-child(1) {
    background-image: url(../../assets/images/peaple_tree.png);
    z-index: 3; 
}

.itemHappy:nth-child(2) {
    background-image: url(../../assets/images/peaple_two.png);
    z-index: 2; 
}

.itemHappy:nth-child(3) {
    background-image: url(../../assets/images/peaple_one.png);
    margin-right: 0;
    z-index: 1; 
}

@media screen and (min-width: 768px) {
    .mainBox {
        width: 704px;
        height: 446px;
        background-image: url("../../assets/images/drink-water-tablet.png");
        padding: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .divHappy {
        width: 237px;
        height: 67px;
        align-self: flex-end;
        padding: 10px 20px 12px 20px;
        gap: 4px;
        margin-bottom: 64px;
    }

    .pHappy {
        font-size: 15px;
        line-height: 1.49;
    }

    .itemHappy {
        height: 47px;
        width: 47px;
        margin-right: -19px;
    }

    .list {
        width: 242px;
        height: 78px;
        gap: 10px;
    }

    .firstItem {
        padding: 11px 16px;
        width: 111px;
        height: 34px;
    }

    .firstP {
        font-size: 12px;
    }

    .secondItem {
        padding: 11px 16px;
        width: 121px;
        height: 34px;
        font-size: 12px;
    }

    .threeItem {
        padding: 11px 16px;
        width: 158px;
        height: 34px;
        font-size: 12px;
    }
    
}


@media screen and (min-width: 1440px) {
    .superMainBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }

    .mainBox {
        width: 672px;
        height: 736px;
        background-image: url("../../assets/images/drink-water-laptop.png");
        padding: 64px 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .divHappy {
        margin-bottom: 68px;
    }
}