:root {
  font-family: 'Poppins', sans-serif;

  /* Юзайте змінні  */

  --main: #323f47;
  --main-text: #2f2f2f;
  --accent: #9be1a0;
  --background: #f0eff4;
  --main-white: #fff;
  --dark-blue: #323f47;
  --userbar-color: #323f4766;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
}

/* І ніякий лишній СSS тут не пишіть!  */
