.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
